Repository MatvienkoDO/grid-dynamics-internship-project, pull requests merged in 2019-10, with the labels that each got.

#7 Initialize deploy config
  .gitignore
  Procfile
  backend/src/main.ts
  deployment/build.sh
  deployment/start-nest.sh
  frontend/package.json
  package-lock.json
  package.json
Labels: deployment

#9 backend examples
  backend/package-lock.json
  backend/package.json
  backend/src/app-routing.module.ts
  backend/src/app.module.ts
  backend/src/clothes/clothes.controller.spec.ts
  backend/src/clothes/clothes.controller.ts
  backend/src/modules/test/controllers/clothes/clothes.controller.spec.ts
  backend/src/modules/test/controllers/clothes/clothes.controller.ts
  backend/src/modules/test/services/clothes/clothes.service.spec.ts
  backend/src/modules/test/services/clothes/clothes.service.ts
  backend/src/modules/test/test.module.ts
Labels: backend

#26 Adds link to database schema.
  README.md
Labels: documentation

#37 Added the header component
  .gitignore
  frontend/angular.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/pages/.gitkeep
  frontend/src/app/shared/.gitkeep
  frontend/src/app/shared/components/.gitkeep
  frontend/src/app/shared/directives/.gitkeep
  frontend/src/app/shared/models/.gitkeep
  frontend/src/app/shared/pipes/.gitkeep
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_colors.scss
  frontend/src/app/shared/styles/_common.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/app/shared/styles/_picture.scss
  frontend/src/app/shared/styles/_search.scss
  frontend/src/app/shared/styles/_variables.scss
  frontend/src/assets/images/Cart_Ico.svg
  frontend/src/assets/images/Mail_Ico.svg
  frontend/src/assets/images/Phone_Ico.svg
  frontend/src/assets/images/Search_Ico.svg
  frontend/src/assets/images/User_Ico.svg
  frontend/src/assets/images/facebook.svg
  frontend/src/assets/images/google_+.svg
  frontend/src/assets/images/instagram.svg
  frontend/src/assets/images/logo.png
  frontend/src/assets/images/twitter.svg
  frontend/src/styles.scss
Labels: frontend

#38 Added footer component
  README.md
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/footer/footer.component.html
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/footer/footer.component.spec.ts
  frontend/src/app/core/footer/footer.component.ts
  frontend/src/assets/images/Payment_Images.png
  frontend/src/styles.scss
Labels: frontend

#36 Mongo development tools
  development/README.md
  development/local-db-start.sh
  development/update-local-db.sh
Labels: backend

#43 database uri
  backend/package.json
  backend/src/database.ts
  backend/src/environment.ts
  backend/src/main.ts
Labels: backend, deployment

#44 Fixes fonts loading
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
Labels: frontend

#51 advertisement block
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.html
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/advertisement/advertisement.component.spec.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.ts
  frontend/src/app/shared/components/sale/sale.component.html
  frontend/src/app/shared/components/sale/sale.component.scss
  frontend/src/app/shared/components/sale/sale.component.spec.ts
  frontend/src/app/shared/components/sale/sale.component.ts
  frontend/src/app/shared/styles/_colors.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/assets/images/add_to_cart_icon.png
  frontend/src/assets/images/sale_background_1.svg
  frontend/src/assets/images/sale_background_2.svg
Labels: frontend

#52 Adds card component
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/card/card.component.html
  frontend/src/app/shared/components/card/card.component.scss
  frontend/src/app/shared/components/card/card.component.spec.ts
  frontend/src/app/shared/components/card/card.component.ts
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/assets/images/Add_To_Cart_Ico.svg
  frontend/src/assets/images/Like_Ico.svg
  frontend/src/assets/images/Product_Img-jacket.png
  frontend/src/assets/images/Product_Img-jacket1.png
  frontend/src/assets/images/Product_Img-jasket3-mini.png
  frontend/src/assets/images/Product_Img-jasket3.png
  frontend/src/assets/images/Share_Ico.svg
Labels: frontend

#54 Adds slider component without animation
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/pages/slider/slider.component.html
  frontend/src/app/pages/slider/slider.component.scss
  frontend/src/app/pages/slider/slider.component.spec.ts
  frontend/src/app/pages/slider/slider.component.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/app/shared/styles/_search.scss
  frontend/src/assets/images/home-layer_1.png
Labels: frontend

#55 Changes Open Sans on Poppins
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card/card.component.scss
Labels: frontend

#57 fix: hotfix for erro in template
  frontend/src/app/pages/slider/slider.component.ts
Labels: frontend

#45 Adds product api
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/modules/product/dto/product.dto.ts
  backend/src/modules/product/product.controller.spec.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.interface.ts
  backend/src/modules/product/product.module.ts
  backend/src/modules/product/product.schema.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#60 Feature/common page styling
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/styles.scss
Labels: frontend

#62 Adds news letter component
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.spec.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/assets/images/mail-icon.png
Labels: frontend

#56 Adds new-arrivals component
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.html
  frontend/src/app/pages/new-arrivals/new-arrivals.component.scss
  frontend/src/app/pages/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/card/card.component.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_variables.scss
Labels: frontend
