Repository MatvienkoDO/grid-dynamics-internship-project, pull requests merged in 2019-12, with the labels that each got.

#221 Feature/redirecting to login page
  backend/src/environment.ts
  backend/src/main.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/guards/auth/auth.guard.ts
  backend/src/modules/authentication/middlewares/user-id-expiration-updater.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/constants.ts
Labels: backend, bug, frontend

#222 Fix/failed tests
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/favourites/favourites.component.spec.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/product-show/product-show.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.spec.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
Labels: bug, frontend

#229 Feature/frontend notification fix
  frontend/src/app/modules/notification/notification.module.ts
Labels: enhancement, frontend

#231 adds credentials. Fixes
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
Labels: backend, frontend

#230 Feature/frontend fixes account modals
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.scss
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/styles.scss
Labels: bug, frontend

#232 Feature/frontend fixes error handling
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
Labels: bug, frontend

#235 Feature/apply cookies auth
  backend/src/app.module.ts
  backend/src/modules/authentication/authentication.module.ts
  backend/src/modules/authentication/common.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/guards/auth/auth.guard.ts
  backend/src/modules/authentication/middlewares/user-id-expiration-updater.ts
  backend/src/modules/authentication/models/user-document.interface.ts
  backend/src/modules/authentication/models/user.schema.ts
  backend/src/modules/authentication/services/user/user.service.ts
  backend/src/modules/users/controllers/users/users.controller.spec.ts
  backend/src/modules/users/controllers/users/users.controller.ts
  backend/src/modules/users/models/user.ts
  backend/src/modules/users/services/user/user.service.spec.ts
  backend/src/modules/users/services/user/user.service.ts
  backend/src/modules/users/users.module.ts
  backend/src/shared/constants.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/models/response.ts
  frontend/src/app/shared/models/user.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/index.ts
  frontend/src/app/shared/services/user/user.service.ts
  frontend/src/environments/index.ts
Labels: backend, frontend

#237 Feature/frontend fixes search
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/services/index.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.spec.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.ts
  frontend/src/app/shared/styles/_button.scss
Labels: frontend

#236 Fix/error response
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/models/error.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/services/errors/errors.service.spec.ts
  frontend/src/app/shared/services/errors/errors.service.ts
Labels: bug, frontend

#238 Feature/frontend expand filters
  frontend/src/app/app.module.ts
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.html
  frontend/src/app/shared/components/list-select/list-select.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/range-select/range-select.component.html
  frontend/src/app/shared/components/range-select/range-select.component.scss
  frontend/src/app/shared/styles/_mobile-filters.scss
  frontend/src/styles.scss
Labels: frontend

#243 Feature/frontend translate
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.scss
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
  frontend/src/styles.scss
Labels: frontend

#241 Feature/backend cart module
  backend/src/app.module.ts
  backend/src/modules/authentication/authentication.module.ts
  backend/src/modules/cart/cart.module.ts
  backend/src/modules/cart/controller/cart.controller.spec.ts
  backend/src/modules/cart/controller/cart.controller.ts
  backend/src/modules/cart/models/cart.interface.ts
  backend/src/modules/cart/models/cart.schema.ts
  backend/src/modules/cart/service/cart.service.spec.ts
  backend/src/modules/cart/service/cart.service.ts
Labels: backend

#244 Feature/price input validation
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/range-select/range-select.component.html
  frontend/src/app/shared/components/range-select/range-select.component.ts
Labels: frontend

#245 Feature/incorrect login password pair
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/services/errors/errors.service.ts
Labels: backend, frontend

#246 Feature/cart service
  backend/src/modules/cart/controller/cart.controller.ts
  backend/src/modules/cart/models/cart.interface.ts
  backend/src/modules/cart/models/cart.schema.ts
  backend/src/modules/cart/service/cart.service.ts
Labels: backend, bug

#247 fix: stores user id instead of password in cookie
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
Labels: backend, bug

#251 fixes styles for modal tabs
  frontend/src/styles.scss
Labels: bug, frontend, inner

#253 fixes error handling
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/account/account.component.ts
Labels: bug, frontend, inner

#259 Feature/password hashing
  backend/package-lock.json
  backend/package.json
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/services/user/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
  frontend/src/app/shared/utils.ts
  frontend/src/polyfills.ts
Labels: backend, frontend, inner

#255 Feature/cart service
  backend/src/modules/cart/cart.module.ts
  backend/src/modules/cart/service/cart.service.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
  frontend/src/app/shared/services/cart/cart.service.ts
Labels: backend, frontend

#260 fixes filters expand
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.html
  frontend/src/app/shared/components/list-select/list-select.component.ts
Labels: bug, frontend, inner

#264 Feature/be strict null checks
  .vscode/settings.json
  backend/.vscode/settings.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/database.ts
  backend/src/environment.ts
  backend/src/main.ts
  backend/src/modules/authentication/authentication.module.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/guards/auth/auth.guard.ts
  backend/src/modules/authentication/middlewares/user-id-expiration-updater.ts
  backend/src/modules/authentication/models/dto/UserLogin.dto.ts
  backend/src/modules/authentication/models/dto/UserSignup.dto.ts
  backend/src/modules/authentication/models/user-document.interface.ts
  backend/src/modules/authentication/models/user.schema.ts
  backend/src/modules/authentication/services/user/user.service.ts
  backend/src/modules/cart/cart.module.ts
  backend/src/modules/cart/controller/cart.controller.ts
  backend/src/modules/cart/models/cart.interface.ts
  backend/src/modules/cart/models/cart.schema.ts
  backend/src/modules/cart/service/cart.service.ts
  backend/src/modules/news-letter/dto/newsLetter.dto.ts
  backend/src/modules/news-letter/news-letter.controller.ts
  backend/src/modules/news-letter/news-letter.module.ts
  backend/src/modules/news-letter/news-letter.schema.ts
  backend/src/modules/news-letter/news-letter.service.ts
  backend/src/modules/product/dto/product.dto.ts
  backend/src/modules/product/filter.model.ts
  backend/src/modules/product/localizedProduct.model.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.interface.ts
  backend/src/modules/product/product.module.ts
  backend/src/modules/product/product.response.ts
  backend/src/modules/product/product.schema.ts
  backend/src/modules/product/product.service.ts
  backend/src/modules/users/controllers/users/users.controller.ts
  backend/src/modules/users/models/user.ts
  backend/src/shared/constants.ts
  backend/src/shared/utils.ts
  backend/tsconfig.json
  backend/tslint.json
  frontend/.vscode/settings.json
  grid-dynamics-internship-project.code-workspace
Labels: backend, enhancement, frontend, inner

#265 Feature/frontend account modal window
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_colors.scss
Labels: frontend

#268 Warnings
  backend/src/app.module.ts
  backend/src/modules/product/product.service.ts
  frontend/src/app/shared/components/list-select/list-select.component.html
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.ts
Labels: backend, frontend, inner

#267 Feature/frontend account modal window
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/services/user/user.service.ts
  frontend/src/styles.scss
Labels: frontend

#261 Feature/save to db favourites
  backend/src/app.module.ts
  backend/src/modules/favourite/controller/favourite/favourite.controller.spec.ts
  backend/src/modules/favourite/controller/favourite/favourite.controller.ts
  backend/src/modules/favourite/favourite.module.ts
  backend/src/modules/favourite/models/favourite.interface.ts
  backend/src/modules/favourite/models/favourite.schema.ts
  backend/src/modules/favourite/service/favourite/favourite.service.spec.ts
  backend/src/modules/favourite/service/favourite/favourite.service.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
Labels: backend, frontend

#269 Feature/backend edit user
  backend/src/modules/users/controllers/users/users.controller.ts
  backend/src/modules/users/models/edit-user.dto.ts
  backend/src/modules/users/services/user/user.service.ts
Labels: backend

#270 Fix/fixes code before null checks
  backend/src/modules/favourite/service/favourite/favourite.service.ts
  backend/src/modules/users/services/user/user.service.ts
Labels: backend, bug, inner

#271 Fixes
  backend/src/modules/users/controllers/users/users.controller.ts
Labels: bug, inner

#272 Fix/linter fixes
  frontend/src/app/core/footer/footer.component.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/components/sale/sale.component.ts
  frontend/src/app/shared/components/search-request/search-request.component.ts
  frontend/tslint.json
Labels: frontend, inner

#273 Fix/range select fixes
  frontend/src/app/shared/components/range-select/range-select.component.ts
Labels: bug, frontend

#274 Feature/frontend edit user
  backend/src/modules/users/controllers/users/users.controller.ts
  backend/src/modules/users/services/user/user.service.ts
  backend/tsconfig.json
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/services/user/user.service.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/styles.scss
Labels: backend, bug, frontend

#262 Feature/frontend refactors global styles
  frontend/src/app/core/footer/footer.component.html
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/modules/notification/notification.module.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/account/account.component.scss
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.ts
  frontend/src/app/shared/components/favourite-button/favourite-button.component.ts
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/sale/sale.component.scss
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/helpers/must-match.validator.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/notification/notification.service.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_mobile-filters.scss
  frontend/src/assets/images/logo.svg
  frontend/src/styles.scss
Labels: bug, frontend

#280 Feature/frontend account modal window
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
Labels: bug, frontend

#282 fixes modal close button
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/styles/_button.scss
Labels: frontend

#287 Feature/frontend about page
  frontend/src/app/app.module.ts
  frontend/src/app/modules/routing/app-routing.module.ts
  frontend/src/app/pages/about/about.component.html
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/pages/about/about.component.spec.ts
  frontend/src/app/pages/about/about.component.ts
  frontend/src/app/pages/index.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.scss
  frontend/src/app/shared/styles/_common.scss
  frontend/src/app/shared/styles/_load-more.scss
  frontend/src/app/shared/styles/_picture.scss
  frontend/src/app/shared/styles/_variables.scss
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
  frontend/src/assets/images/daniil.png
  frontend/src/assets/images/dmitry.png
  frontend/src/assets/images/julia.png
  frontend/src/assets/images/mikhail.png
  frontend/src/assets/images/timur.png
  frontend/src/assets/images/vladimir.png
Labels: frontend

#285 Fixes cart service.
  backend/package-lock.json
  backend/src/modules/cart/service/cart.service.ts
  backend/src/modules/favourite/service/favourite/favourite.service.ts
  backend/src/modules/users/services/user/user.service.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
Labels: backend, bug, frontend

#293 fixes modal heigth
  frontend/src/styles.scss
Labels: bug, frontend

#294 adds mobile routing
  frontend/src/app/core/header/header.component.html
Labels: frontend

#295 Feature/contact us
  backend/src/modules/users/services/user/user.service.ts
  backend/tsconfig.json
  frontend/src/app/app.module.ts
  frontend/src/app/modules/routing/app-routing.module.ts
  frontend/src/app/pages/contact/contact.component.html
  frontend/src/app/pages/contact/contact.component.scss
  frontend/src/app/pages/contact/contact.component.spec.ts
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/pages/index.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.html
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.scss
  frontend/src/app/shared/components/map-place/map-place.component.html
  frontend/src/app/shared/components/map-place/map-place.component.scss
  frontend/src/app/shared/components/map-place/map-place.component.spec.ts
  frontend/src/app/shared/components/map-place/map-place.component.ts
  frontend/src/app/shared/components/text-field/text-field.component.html
  frontend/src/app/shared/components/text-field/text-field.component.scss
  frontend/src/app/shared/components/text-field/text-field.component.spec.ts
  frontend/src/app/shared/components/text-field/text-field.component.ts
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/styles/_colors.scss
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/tsconfig.json
Labels: frontend

#297 fix: hotfix
  frontend/src/app/pages/contact/contact.component.html
  frontend/src/app/shared/components/text-field/text-field.component.ts
Labels: bug, frontend

#298 Feature/contact us be
  backend/src/app.module.ts
  backend/src/modules/cart/cart.module.ts
  backend/src/modules/contact-us/contact-us.module.ts
  backend/src/modules/contact-us/controllers/contact-us/contact-us.controller.spec.ts
  backend/src/modules/contact-us/controllers/contact-us/contact-us.controller.ts
  backend/src/modules/contact-us/models/message.ts
  backend/src/modules/contact-us/services/contact-us/contact-us.service.spec.ts
  backend/src/modules/contact-us/services/contact-us/contact-us.service.ts
  frontend/src/app/pages/contact/contact.component.ts
Labels: backend, frontend

#299 Feature/contact us map sizing
  frontend/src/app/pages/contact/contact.component.html
  frontend/src/app/pages/contact/contact.component.ts
  frontend/src/app/shared/components/map-place/map-place.component.ts
Labels: frontend

#300 feat: make map wide
  frontend/src/app/pages/contact/contact.component.scss
Labels: frontend

#296 Fix/frontend tests
  frontend/src/app/core/footer/footer.component.spec.ts
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/pages/home/home.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/account/account.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.spec.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.ts
  frontend/src/app/shared/components/favourite-button/favourite-button.component.spec.ts
  frontend/src/app/shared/components/favourite-button/favourite-button.component.ts
  frontend/src/app/shared/components/favourites/favourites.component.spec.ts
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.spec.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.spec.ts
  frontend/src/app/shared/components/range-select/range-select.component.spec.ts
  frontend/src/app/shared/components/slider/slider.component.spec.ts
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.spec.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.spec.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/authentication/authentication.service.spec.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/errors/errors.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/services/mail/mail.service.ts
  frontend/src/app/shared/services/notification/notification.service.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.spec.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.ts
  frontend/src/app/shared/services/products/products.service.spec.ts
  frontend/src/app/shared/services/user/user.service.spec.ts
  frontend/src/app/shared/services/user/user.service.ts
Labels: bug, frontend

#302 fixes mobile for about us page
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/shared/styles/_variables.scss
Labels: frontend

#303 Fixes.
  backend/.vscode/settings.json
  backend/src/modules/cart/service/cart.service.ts
  backend/src/modules/favourite/service/favourite/favourite.service.ts
  frontend/.vscode/settings.json
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
Labels: backend, bug, frontend

#304 -11 failed tests and +5% test coverage
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/about/about.component.spec.ts
  frontend/src/app/pages/contact/contact.component.spec.ts
  frontend/src/app/pages/hot-deals/hot-deals.component.spec.ts
  frontend/src/app/pages/hot-deals/hot-deals.component.ts
  frontend/src/app/shared/components/hot-deals-month/hot-deals-month.component.spec.ts
  frontend/src/app/shared/components/hot-deals-week/hot-deals-week.component.spec.ts
Labels: frontend

#301 Fix/fixes and refactorings 1
  backend/src/app.module.ts
  frontend/src/app/app.component.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/services/notification/notification.service.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
Labels: frontend, inner

#305 Fixes addToCart, addToFavourites.
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
Labels: bug, frontend

#306 Fix/turn on strict checks
  frontend/src/app/app.component.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/models/product.response.ts
  frontend/src/app/shared/services/product-filter/product-filter.service.ts
Labels: frontend
