Repository MatvienkoDO/grid-dynamics-internship-project, pull requests merged in 2019-11, with the labels that each got.

#63 Feature/frontend best sales
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/pages/best-sales/best-sales.component.html
  frontend/src/app/pages/best-sales/best-sales.component.scss
  frontend/src/app/pages/best-sales/best-sales.component.spec.ts
  frontend/src/app/pages/best-sales/best-sales.component.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.spec.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.spec.ts
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/card/card.component.html
  frontend/src/app/shared/components/card/card.component.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/assets/images/Product_Img-4.png
  frontend/src/assets/images/Rate.png
Labels: frontend

#64 Feature/frontend slider
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/pages/slider/slider.component.html
  frontend/src/app/pages/slider/slider.component.scss
Labels: frontend

#66 Adds news-letter module
  backend/src/app.module.ts
  backend/src/modules/news-letter/dto/newsLetter.dto.ts
  backend/src/modules/news-letter/news-letter.controller.spec.ts
  backend/src/modules/news-letter/news-letter.controller.ts
  backend/src/modules/news-letter/news-letter.interface.ts
  backend/src/modules/news-letter/news-letter.module.ts
  backend/src/modules/news-letter/news-letter.schema.ts
  backend/src/modules/news-letter/news-letter.service.ts
Labels: backend

#80 Feature/cards as dumb components
  frontend/src/app/pages/best-sales/best-sales.component.html
  frontend/src/app/pages/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/models/card-product.ts
Labels: frontend

#79 Adds service for products
  frontend/src/app/app.module.ts
  frontend/src/app/shared/.gitkeep
  frontend/src/app/shared/models/.gitkeep
  frontend/src/app/shared/models/filter.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/models/product.ts
  frontend/src/app/shared/services/index.ts
  frontend/src/app/shared/services/products/products.service.spec.ts
  frontend/src/app/shared/services/products/products.service.ts
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
Labels: frontend

#81 Feature/create smart components
  frontend/src/app/app.module.ts
  frontend/src/app/pages/best-sales/best-sales.component.html
  frontend/src/app/pages/best-sales/best-sales.component.scss
  frontend/src/app/pages/best-sales/best-sales.component.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.html
  frontend/src/app/pages/new-arrivals/new-arrivals.component.scss
  frontend/src/app/pages/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.html
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.scss
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.spec.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.ts
  frontend/src/app/shared/services/products/products.service.ts
Labels: frontend

#82 Feature/frontend media query
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/pages/best-sales/best-sales.component.scss
  frontend/src/app/pages/best-sales/best-sales.component.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.scss
  frontend/src/app/pages/slider/slider.component.html
  frontend/src/app/pages/slider/slider.component.scss
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/app/shared/styles/_mobile-menu.scss
  frontend/src/app/shared/styles/_search.scss
  frontend/src/app/shared/styles/_variables.scss
Labels: frontend

#86 Feature/frontend loading
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.html
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.scss
Labels: frontend

#85 Adds Product response class. Add id prop in product
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.interface.ts
  backend/src/modules/product/product.response.ts
  backend/src/modules/product/product.schema.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#84 adds page Product Show
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.module.ts
  frontend/src/app/core/index.ts
  frontend/src/app/pages/home/home.component.html
  frontend/src/app/pages/home/home.component.scss
  frontend/src/app/pages/home/home.component.spec.ts
  frontend/src/app/pages/home/home.component.ts
  frontend/src/app/pages/index.ts
  frontend/src/app/pages/new-arrivals/new-arrivals.component.ts
  frontend/src/app/pages/product-details/product-details.component.html
  frontend/src/app/pages/product-details/product-details.component.scss
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/shared/components/.gitkeep
  frontend/src/app/shared/components/best-sales/best-sales.component.html
  frontend/src/app/shared/components/best-sales/best-sales.component.scss
  frontend/src/app/shared/components/best-sales/best-sales.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.scss
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.spec.ts
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/components/slider/slider.component.spec.ts
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/services/products/products.service.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_mixins.scss
  frontend/src/assets/images/Big_Product_Img.png
  frontend/src/assets/images/Product_Img-mini-1.png
  frontend/src/assets/images/Product_Img-mini-2.png
  frontend/src/assets/images/Product_Img-mini-3.png
  frontend/src/styles.scss
Labels: frontend

#88 Feature/backend slider endpoint
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.schema.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#94 Slider
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/models/product.ts
  frontend/src/app/shared/services/products/products.service.ts
Labels: frontend

#95 Adds notification service with example in header
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/modules/notification/notification.module.ts
  frontend/src/app/shared/services/notification/notification.service.spec.ts
  frontend/src/app/shared/services/notification/notification.service.ts
  frontend/src/styles.scss
Labels: frontend

#91 Adds best-sales method
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#102 Hotfix prod
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/models/product.response.ts
  frontend/src/app/shared/services/products/products.service.ts
Labels: bug, frontend

#99 Feature/frontend favourites
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/cart/cart.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.ts
  frontend/src/app/shared/components/favourites/favourites.component.html
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.spec.ts
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/models/card-product.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/index.ts
Labels: frontend

#93 Adds translator
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/footer/footer.component.html
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
Labels: frontend

#92 Adds http interceptor for error handling. Add checking network status…
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/core/interceptors/index.ts
  frontend/src/app/shared/services/index.ts
Labels: frontend

#98 Feature/pdp
  frontend/src/app/app.module.ts
  frontend/src/app/pages/product-details/product-details.component.html
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.html
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/components/related-products/related-products.component.html
  frontend/src/app/shared/components/related-products/related-products.component.scss
  frontend/src/app/shared/components/related-products/related-products.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.ts
  frontend/src/app/shared/models/card-product.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/services/products/products.service.ts
Labels: frontend

#101 Adds async function for sending email
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.ts
  frontend/src/app/shared/services/index.ts
  frontend/src/app/shared/services/mail/mail.service.spec.ts
  frontend/src/app/shared/services/mail/mail.service.ts
  frontend/src/app/shared/styles/_button.scss
Labels: frontend, help wanted

#106 Feature/heroku hotfix
  frontend/src/app/shared/components/favourites/favourites.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.ts
Labels: bug, frontend

#97 Feature/frontend cart service
  frontend/src/app/app.module.ts
  frontend/src/app/pages/product-details/product-details.component.html
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/related-products/related-products.component.html
  frontend/src/app/shared/services/cart.service.ts
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
Labels: frontend

#105 Adds some fixes for media query in home page
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/components/best-sales/best-sales.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
Labels: frontend

#104 Changes style for modal a little bit
  frontend/src/app/shared/components/cart/cart.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.html
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/styles/_button.scss
Labels: frontend

#117 Bug in cart service
  frontend/src/app/app.module.ts
  frontend/src/app/core/index.ts
  frontend/src/app/modules/index.ts
  frontend/src/app/modules/routing/app-routing.module.ts
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/shared/services/cart.service.ts
Labels: bug, frontend

#120 Changes fonts Poppins on Open Sans
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/sale/sale.component.scss
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_mobile-menu.scss
  frontend/src/styles.scss
Labels: bug, frontend

#118 Fix/pr 89
  backend/src/app-routing.module.ts
  backend/src/app.module.ts
  backend/src/clothes/clothes.controller.spec.ts
  backend/src/clothes/clothes.controller.ts
  backend/src/modules/news-letter/news-letter.controller.ts
  backend/src/modules/news-letter/news-letter.module.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.module.ts
  backend/src/modules/product/product.response.ts
  backend/src/modules/test/controllers/clothes/clothes.controller.spec.ts
  backend/src/modules/test/controllers/clothes/clothes.controller.ts
  backend/src/modules/test/services/clothes/clothes.service.spec.ts
  backend/src/modules/test/services/clothes/clothes.service.ts
  backend/src/modules/test/test.module.ts
Labels: backend

#130 Adds related products endpoint.
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#121 Bug. Transition to pdp
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.scss
Labels: bug, frontend

#122 Pdp. Arrows
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.ts
Labels: bug, frontend

#134 Add product filtering functionality at BE
  backend/src/modules/product/filter.model.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#133 Feature/frontend fixes after demo
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/styles/_button.scss
Labels: frontend

#136 Fixes news-letter form
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.ts
  frontend/src/app/shared/styles/_colors.scss
Labels: bug, frontend

#138 Fix/transition to pdp
  frontend/src/app/shared/components/best-sales/best-sales.component.html
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/components/slider/slider.component.ts
Labels: frontend

#137 Feature/backend localization
  backend/src/modules/product/filter.model.ts
  backend/src/modules/product/localizedProduct.model.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.interface.ts
  backend/src/modules/product/product.response.ts
  backend/src/modules/product/product.schema.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#139 Fixes closing mobile menu.
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
Labels: bug, frontend

#144 Changes icon
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/core/footer/footer.component.html
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.html
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.html
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/app/shared/styles/_search.scss
  frontend/src/assets/images/Add_To_Cart_Ico.svg
  frontend/src/assets/images/Cart_Ico.svg
  frontend/src/assets/images/Like_Ico.svg
  frontend/src/assets/images/Mail_Ico.svg
  frontend/src/assets/images/Phone_Ico.svg
  frontend/src/assets/images/Search_Ico.svg
  frontend/src/assets/images/Share_Ico.svg
  frontend/src/assets/images/User_Ico.svg
  frontend/src/assets/images/add_shopping_cart-24px.svg
  frontend/src/assets/images/favorite-24px.svg
  frontend/src/assets/images/favorite_border-24px.svg
  frontend/src/assets/images/logo-basket.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/person-24px.svg
  frontend/src/assets/images/search-24px.svg
  frontend/src/styles.scss
Labels: frontend

#145 Fix/frontend mobile menu closing - fix
  frontend/src/app/core/header/header.component.ts
Labels: frontend

#140 Adds redirect after not found exception.
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
Labels: frontend

#141 Feature/frontend modal window
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/footer/footer.component.html
  frontend/src/app/core/footer/footer.component.scss
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.html
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.ts
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/cart/cart.component.ts
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/favourites/favourites.component.html
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/models/card-product.ts
  frontend/src/app/shared/models/product.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_fonts.scss
  frontend/src/app/shared/styles/_icon.scss
  frontend/src/app/shared/styles/_search.scss
  frontend/src/assets/images/Add_To_Cart_Ico.svg
  frontend/src/assets/images/Cart_Ico.svg
  frontend/src/assets/images/Like_Ico.svg
  frontend/src/assets/images/Mail_Ico.svg
  frontend/src/assets/images/Phone_Ico.svg
  frontend/src/assets/images/Search_Ico.svg
  frontend/src/assets/images/Share_Ico.svg
  frontend/src/assets/images/User_Ico.svg
  frontend/src/assets/images/add_shopping_cart-24px.svg
  frontend/src/assets/images/favorite-24px.svg
  frontend/src/assets/images/favorite_border-24px.svg
  frontend/src/assets/images/logo-basket.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/person-24px.svg
  frontend/src/assets/images/search-24px.svg
  frontend/src/environments/environment.ts
  frontend/src/index.html
  frontend/src/styles.scss
Labels: frontend

#142 Feature/frontend localization
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/core/interceptors/index.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/index.ts
  frontend/src/app/shared/services/localization/localization.service.spec.ts
  frontend/src/app/shared/services/localization/localization.service.ts
Labels: frontend

#148 Fixes prod build.
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.html
Labels: bug, frontend

#149 Feature/products page
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.module.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/modules/routing/app-routing.module.ts
  frontend/src/app/pages/index.ts
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/list-select/list-select.component.html
  frontend/src/app/shared/components/list-select/list-select.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.spec.ts
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/range-select/range-select.component.html
  frontend/src/app/shared/components/range-select/range-select.component.scss
  frontend/src/app/shared/components/range-select/range-select.component.spec.ts
  frontend/src/app/shared/components/range-select/range-select.component.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/styles.scss
  frontend/tsconfig.json
Labels: frontend

#151 Feature/frontend fixes modals
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/cart/cart.component.ts
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/styles.scss
Labels: frontend

#152 Adds search filter functionallity.
  backend/src/modules/product/filter.model.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/product/product.service.ts
Labels: backend

#153 Feature/products list logic component
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/range-select/range-select.component.ts
  frontend/src/app/shared/models/filter.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/models/paging.ts
  frontend/src/app/shared/services/localization/localization.service.ts
Labels: frontend

#154 Adds tests for header and footer
  frontend/src/app/core/footer/footer.component.spec.ts
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/testing/mock-translate.pipe.ts
Labels: frontend

#155 Fixes server url.
  frontend/src/environments/environment.ts
Labels: bug, frontend

#156 fix: fixes slider on home page and adds more images
  backend/src/modules/product/localizedProduct.model.ts
  backend/src/modules/product/product.interface.ts
  backend/src/modules/product/product.service.ts
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/assets/images/home-layer_2.png
  frontend/src/assets/images/home-layer_3.png
Labels: backend, bug, frontend

#157 Fixes response quantity.
  backend/src/modules/product/product.service.ts
Labels: backend, bug

#158 feat: search field in header navigates to products list page
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
Labels: frontend

#159 Fix/errors in prod build
  frontend/src/app/core/footer/footer.component.spec.ts
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/testing/test/mock-translate.pipe.ts
  frontend/src/app/testing/test/test.module.ts
Labels: bug, frontend

#167 Fix/products list markup
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
Labels: frontend

#150 Cart service, Favourite service tests
  frontend/angular.json
  frontend/src/app/app.component.spec.ts
  frontend/src/app/core/footer/footer.component.spec.ts
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/home/home.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.spec.ts
  frontend/src/app/shared/components/card-product-small/card-product-small.component.spec.ts
  frontend/src/app/shared/components/card-product/card-product.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/favourites/favourites.component.spec.ts
  frontend/src/app/shared/components/list-select/list-select.component.spec.ts
  frontend/src/app/shared/components/loading-indicator/loading-indicator.component.spec.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.spec.ts
  frontend/src/app/shared/components/product-show/product-show.component.spec.ts
  frontend/src/app/shared/components/range-select/range-select.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.spec.ts
  frontend/src/app/shared/components/sale/sale.component.spec.ts
  frontend/src/app/shared/components/slider/slider.component.spec.ts
  frontend/src/app/shared/constants/common.constants.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/localization/localization.service.spec.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/services/mail/mail.service.spec.ts
  frontend/src/app/shared/services/mail/mail.service.ts
  frontend/src/app/shared/services/notification/notification.service.spec.ts
  frontend/src/app/shared/services/products/products.service.spec.ts
Labels: frontend

#166 Fix/products list
  frontend/src/app/pages/products/products.component.html
  frontend/src/assets/i18n/en.json
  frontend/src/assets/i18n/ru.json
Labels: frontend

#168 fixes fo mobile
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
Labels: bug, frontend

#169 Feature/frontend tests components
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/home/home.component.spec.ts
  frontend/src/app/shared/components/advertisement/advertisement.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.spec.ts
  frontend/src/app/shared/components/best-sales/best-sales.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.spec.ts
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
  frontend/src/app/shared/services/mail/mail.service.spec.ts
Labels: frontend

#173 fixes styles because warnings were in console
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/slider/slider.component.scss
Labels: bug, frontend

#174 Feature/products service tests
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.spec.ts
  frontend/src/app/shared/services/products/products.service.spec.ts
Labels: frontend

#176 Feature/frontend fixes modals
  frontend/src/app/shared/components/cart/cart-inner.component.html
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.scss
Labels: frontend

#178 Feature/frontend fixes styles
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_search.scss
Labels: bug, frontend

#179 Fix/tests
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.ts
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.spec.ts
  frontend/src/app/shared/components/cart/cart.component.spec.ts
  frontend/src/app/shared/components/favourites/favourites.component.spec.ts
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.spec.ts
  frontend/src/app/shared/components/product-show/product-show.component.spec.ts
  frontend/src/app/shared/components/range-select/range-select.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.ts
  frontend/src/app/shared/components/slider/slider.component.spec.ts
  frontend/src/app/shared/models/product.response.ts
  frontend/src/app/testing/test/products.service.mock.ts
Labels: bug, frontend

#180 Fix/errors
  frontend/src/app/core/header/header.component.spec.ts
  frontend/src/app/pages/product-details/product-details.component.spec.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/notification/notification.service.spec.ts
  frontend/src/app/shared/services/notification/notification.service.ts
Labels: frontend, testing

#188 Feature/filters in url
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/list-select/list-select.component.ts
  frontend/src/app/shared/components/range-select/range-select.component.ts
Labels: frontend

#186 Feature/product images
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/styles/_picture.scss
  frontend/src/assets/images/products/adidas-track-jacket-white-back.webp
  frontend/src/assets/images/products/adidas-track-jacket-white.jpeg
  frontend/src/assets/images/products/adidas-track-soccers-1.jpeg
  frontend/src/assets/images/products/adidas-track-soccers-2.webp
  frontend/src/assets/images/products/adidas-track-soccers-3.webp
  frontend/src/assets/images/products/adidas-track-trousers-black.jpeg
  frontend/src/assets/images/products/adidas-track-trousers-blue.jpeg
  frontend/src/assets/images/products/adidas-track-trousers-grey.jpeg
  frontend/src/assets/images/products/adidas-track-trousers-white.jpeg
  frontend/src/assets/images/products/nike-track-soccers-1.jpeg
  frontend/src/assets/images/products/nike-track-soccers-2.jpeg
  frontend/src/assets/images/products/nike-track-soccers-3.webp
  frontend/src/assets/images/products/nike-track-trousers-black.jpeg
  frontend/src/assets/images/products/nike-track-trousers-blue.jpeg
  frontend/src/assets/images/products/nike-track-trousers-white.jpeg
  frontend/src/assets/images/products/puma-track-jacket-back.webp
  frontend/src/assets/images/products/puma-track-jacket-front.jpeg
  frontend/src/assets/images/products/puma-track-jacket-side.webp
  frontend/src/assets/images/products/reebok-track-jacket-black.jpeg
  frontend/src/assets/images/products/reebok-track-jacket-blue.jpeg
  frontend/src/assets/images/products/reebok-track-jacket-grey.jpeg
  frontend/src/assets/images/products/reebok-track-soccers-1.jpeg
  frontend/src/assets/images/products/reebok-track-soccers-2.jpeg
  frontend/src/assets/images/products/reebok-track-soccers-3.webp
  frontend/src/assets/images/products/reebok-track-trousers-black.jpeg
  frontend/src/assets/images/products/reebok-track-trousers-blue.jpeg
  frontend/src/assets/images/products/reebok-track-trousers-grey.jpeg
  frontend/src/assets/images/products/reebok-track-trousers-white.jpeg
Labels: frontend

#187 Feature/frontend fixes media styles
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.scss
  frontend/src/app/shared/components/new-arrivals/new-arrivals.component.scss
  frontend/src/app/shared/styles/_mobile-filters.scss
  frontend/src/app/shared/styles/_mobile-menu.scss
Labels: frontend

#190 Feature/frontend fixes filters
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.scss
  frontend/src/app/shared/components/list-select/list-select.component.scss
  frontend/src/app/shared/components/range-select/range-select.component.scss
Labels: frontend

#191 Feature/product images
  frontend/src/assets/images/products/adidas-track-jacket-1.jpeg
  frontend/src/assets/images/products/adidas-track-jacket-2.jpeg
  frontend/src/assets/images/products/adidas-track-jacket-3.jpeg
  frontend/src/assets/images/products/adidas-track-soccers-2.jpeg
  frontend/src/assets/images/products/adidas-track-soccers-3.jpeg
  frontend/src/assets/images/products/nike-track-jacket-men-1.jpeg
  frontend/src/assets/images/products/nike-track-jacket-men-2.jpeg
  frontend/src/assets/images/products/nike-track-jacket-men-3.jpeg
  frontend/src/assets/images/products/puma-track-jacket-women-1.jpeg
  frontend/src/assets/images/products/puma-track-jacket-women-2.jpeg
  frontend/src/assets/images/products/puma-track-jacket-women-3.jpeg
  frontend/src/assets/images/products/reebok-track-jacket-men-1.jpeg
  frontend/src/assets/images/products/reebok-track-jacket-men-2.jpeg
  frontend/src/assets/images/products/reebok-track-jacket-men-3.jpeg
  frontend/src/assets/images/products/spring-kit-1.jpeg
  frontend/src/assets/images/products/spring-kit-2.jpeg
  frontend/src/assets/images/products/spring-kit-3.jpeg
  frontend/src/assets/images/products/summer-kit-1.jpeg
  frontend/src/assets/images/products/summer-kit-3.jpeg
  frontend/src/assets/images/products/winter-kit-1.jpeg
  frontend/src/assets/images/products/winter-kit-2.jpeg
  frontend/src/assets/images/products/winter-kit-3.jpeg
Labels: frontend

#192 fixes products preview
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
Labels: frontend

#194 Fix/images pdp
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.ts
Labels: bug, frontend

#208 Fix/conflicts between master and development
  backend/src/modules/product/filter.model.ts
Labels: backend, frontend

#210 Feat/search filter block,resetting of search
  frontend/src/app/app.module.ts
  frontend/src/app/pages/products/products.component.html
  frontend/src/app/pages/products/products.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/search-request/search-request.component.html
  frontend/src/app/shared/components/search-request/search-request.component.scss
  frontend/src/app/shared/components/search-request/search-request.component.spec.ts
  frontend/src/app/shared/components/search-request/search-request.component.ts
Labels: frontend

#211 Feature/frontend login tab
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.html
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.scss
  frontend/src/app/shared/components/account/account.component.spec.ts
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/helpers/must-match.validator.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/styles.scss
Labels: frontend

#213 Feature/authorization
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/environment.ts
  backend/src/main.ts
  backend/src/modules/authentication/authentication.module.ts
  backend/src/modules/authentication/common.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.spec.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/guards/auth/auth.guard.spec.ts
  backend/src/modules/authentication/guards/auth/auth.guard.ts
  backend/src/modules/authentication/middlewares/user-id-expiration-updater.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/constants/common.constants.ts
  frontend/src/app/shared/services/cart/cart.service.spec.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.spec.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/localization/localization.service.spec.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/utils.ts
  frontend/src/polyfills.ts
Labels: backend, deployment

#216 fix: curcular deps
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
Labels: bug, frontend

#214 Feature/frontend welcome modal
  frontend/src/app/app.module.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.scss
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.scss
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.spec.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/models/index.ts
  frontend/src/app/shared/models/user.ts
  frontend/src/app/shared/services/user/user.service.spec.ts
  frontend/src/app/shared/services/user/user.service.ts
  frontend/src/app/shared/styles/_button.scss
  frontend/src/app/shared/styles/_spinner.scss
Labels: frontend

#217 Feature/backend auth service
  backend/src/modules/authentication/authentication.module.ts
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/models/dto/UserLogin.dto.ts
  backend/src/modules/authentication/models/dto/UserSignup.dto.ts
  backend/src/modules/authentication/models/user.interface.ts
  backend/src/modules/authentication/models/user.schema.ts
  backend/src/modules/authentication/services/user/user.service.spec.ts
  backend/src/modules/authentication/services/user/user.service.ts
Labels: backend

#220 Feature/frontend auth service
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  frontend/src/app/core/header/header.component.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/shared/components/account/account.component.html
  frontend/src/app/shared/components/account/account.component.ts
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.html
  frontend/src/app/shared/components/welcome-modal/welcome-modal.component.ts
  frontend/src/app/shared/models/dto/signup.dto.ts
  frontend/src/app/shared/models/user.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.spec.ts
  frontend/src/app/shared/services/account-modal/account-modal.service.ts
  frontend/src/app/shared/services/authentication/authentication.service.spec.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
Labels: backend, frontend

#219 Feature/frontend fixes for favor modal
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/favourite-button/favourite-button.component.html
  frontend/src/app/shared/components/favourite-button/favourite-button.component.scss
  frontend/src/app/shared/components/favourite-button/favourite-button.component.spec.ts
  frontend/src/app/shared/components/favourite-button/favourite-button.component.ts
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/favourites/favourites.component.scss
  frontend/src/app/shared/components/favourites/favourites.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/styles/_button.scss
Labels: frontend
