Repository MatvienkoDO/grid-dynamics-internship-project, pull requests merged in 2020-01, with the labels that each got.

#317 Feature/try ssr
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/server.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.server.module.ts
  frontend/src/app/core/interceptors/error-handler.interseptor.ts
  frontend/src/app/core/interceptors/index.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/modules/i18n/i18n.module.ts
  frontend/src/app/pages/products/products.component.spec.ts
  frontend/src/app/shared/components/related-products/related-products.component.spec.ts
  frontend/src/app/shared/components/slider/slider.component.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
  frontend/src/app/shared/services/cart/cart.service.ts
  frontend/src/app/shared/services/favourites/favourites.service.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/services/products/products.service.ts
  frontend/src/app/translate-browser-loader.service.ts
  frontend/src/app/translate-server-loader.service.ts
  frontend/src/main.server.ts
  frontend/src/main.ts
  frontend/tsconfig.server.json
  frontend/webpack.server.config.js
Labels: frontend

#318 Feature/try ssr
  frontend/src/app/app.module.ts
Labels: bug, frontend

#320 adds greek translation
  frontend/src/app/modules/i18n/i18n.module.ts
  frontend/src/app/pages/about/about.component.scss
  frontend/src/app/shared/components/news-letter/news-letter.component.scss
  frontend/src/app/shared/components/slider/slider.component.scss
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/app/shared/styles/_variables.scss
  frontend/src/assets/i18n/fr.json
  frontend/src/assets/i18n/gr.json
Labels: frontend

#323 Fix/deployment script
  deployment/build/frontend.sh
  deployment/serve/frontend.sh
Labels: bug, deployment

#324 fixes svg descriptions
  frontend/src/app/core/header/header.component.html
  frontend/src/app/shared/components/advertisement/advertisement.component.html
  frontend/src/app/shared/components/advertisement/advertisement.component.scss
  frontend/src/app/shared/components/card-product-small/card-product-small.component.html
  frontend/src/app/shared/components/card-product-small/card-product-small.component.scss
  frontend/src/app/shared/components/card-product/card-product.component.html
  frontend/src/app/shared/components/card-product/card-product.component.scss
  frontend/src/app/shared/components/cart/cart.component.html
  frontend/src/app/shared/components/favourites/favourites-inner.component.html
  frontend/src/app/shared/components/news-letter/news-letter.component.html
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/slider/slider.component.html
  frontend/src/app/shared/styles/_button.scss
  frontend/src/assets/images/mail_outline-24px.svg
  frontend/src/assets/images/phone_android-24px.svg
  frontend/src/assets/images/shopping_cart-24px.svg
Labels: bug, frontend

#326 Fix/ssr routing
  frontend/package-lock.json
  frontend/server.ts
Labels: bug, frontend

#328 Fix/ssr
  backend/src/modules/authentication/controllers/auth/auth.controller.ts
  backend/src/modules/authentication/models/user-document.interface.ts
  backend/src/modules/authentication/models/user.schema.ts
  backend/src/modules/product/product.controller.ts
  backend/src/modules/users/models/edit-user.dto.ts
  backend/src/modules/users/models/user.ts
  backend/src/modules/users/services/user/user.service.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/hash-translations.js
  frontend/server.ts
  frontend/src/app/app.module.ts
  frontend/src/app/app.server.module.ts
  frontend/src/app/core/interceptors/localization.interseptor.ts
  frontend/src/app/modules/i18n/i18n.module.ts
  frontend/src/app/modules/i18n/translate-loaders.ts
  frontend/src/app/shared/constants.ts
  frontend/src/app/shared/models/dto/signup.dto.ts
  frontend/src/app/shared/models/user.ts
  frontend/src/app/shared/services/authentication/authentication.service.ts
  frontend/src/app/shared/services/localization/localization.service.ts
  frontend/src/assets/i18n/autogen/el.c9331bb19e4df6db05abf44322604f6c.json
  frontend/src/assets/i18n/autogen/en.b5e3a267a3aedbaeec82fbbfa92c21cc.json
  frontend/src/assets/i18n/autogen/fr.25e5ac8b366701925fdc54ca06637f02.json
  frontend/src/assets/i18n/autogen/map.json
  frontend/src/assets/i18n/autogen/ru.a01cd9b0b8b69e24f63ec8dfd3536fa1.json
  frontend/src/assets/i18n/el.json
Labels: backend, bug, frontend

#329 Feature/zoom for pdp
  frontend/src/app/app.module.ts
  frontend/src/app/shared/components/image-slider/image-slider.component.html
  frontend/src/app/shared/components/image-slider/image-slider.component.scss
  frontend/src/app/shared/components/image-slider/image-slider.component.spec.ts
  frontend/src/app/shared/components/image-slider/image-slider.component.ts
  frontend/src/app/shared/components/index.ts
  frontend/src/app/shared/components/product-show/product-show.component.html
  frontend/src/app/shared/components/product-show/product-show.component.scss
  frontend/src/app/shared/components/product-show/product-show.component.ts
  frontend/src/app/shared/models/product.ts
  frontend/src/styles.scss
Labels: frontend

#330 Fixes dynamic content lang.
  frontend/src/app/core/interceptors/localization.interseptor.ts
Labels: bug, frontend

#331 Fixes interseptor.
  frontend/src/app/core/interceptors/localization.interseptor.ts
Labels: bug, frontend
